*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url(imagens/background.png);
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.menu{
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
}

ul li{
    display:inline-block;
    padding: 20px;
    
}

ul li a{
    text-decoration: none;
    color: black;
}

a:hover{
    background: linear-gradient(45deg, #87adfe, #ff77cd);
    color: rgb(229, 238, 245);
    border-radius: 6px;
    padding: 7px;
    transition: 300ms;
}

.imgl{
    width: 13%;
    padding-left: 20px;
}

.imgc{
    width: 4%;
    padding-right: 60px;
}

#botao{
    margin-top: 200px;
    margin-left: 200px;
    border-radius: 7px;
    border: none;
    padding: 10px 25px;
    background: linear-gradient(45deg, #87adfe, #ff77cd);
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

h1{
    padding-top: 20px;
    padding-left: 200px;
    font-size: 60px;
    font-weight: 100;
    color: #232d60;
}

p{
    padding-left: 200px;
    padding-top: 10px;
    color: #6a7199;
}
.img1{
    height: 90%;
    position: absolute;
    bottom: 0;
    right: 80px;
}

#backarrow{
    width: 40px;
    padding-top: 35px;
    padding-left:200px ;

}

#nextarrow{
    width: 40px;
    padding-left: 28px;
}
    